@using Expert.Gov.Core.Models.SolicitacaoSugestao
@model SolicitacoesLista



<div class="container container-ghost mt-5">

    <div class="col-lg-12 d-inline-flex">
        <h4 class="col-lg-10">Solicitar Melhoria</h4>


        <a type="button" class="btn btn-teal col-lg-2 ms-2" asp-controller="Contato" asp-action="InserirSolicitacao">Enviar Solicitacao</a>
    </div>

    <hr />

    <form>

        <table class="table">
            <thead class="table-dark">
                <tr>
                    <td>Id_Solicitacao</td>
                    <td>Nome</td>
                    <td>Celular</td>
                    <td>Email</td>
                    <td>Endereco_solicitacao</td>
                    <td>Numero_solicitacao </td>
                    <td>Cep_solicitacao</td>
                    <td>Descricao_prolema</td>
                    <td>Descricao_Sugestao_Melhoria</td>
                </tr>
            </thead>

            <tbody>
                @foreach (var solicitacao in Model.ListaSolicitacoes)
                {
                    <tr>
                        <td> @solicitacao.Id_Solicitacao</td>
                        <td> @solicitacao.Nome</td>
                        <td> @solicitacao.Celular</td>
                        <td> @solicitacao.Email</td>
                        <td> @solicitacao.Endereco_solicitacao</td>
                        <td> @solicitacao.Numero_solicitacao</td>
                        <td> @solicitacao.Cep_solicitacao</td>
                        <td> @solicitacao.Descricao_Titulo</td>
                        <td> @solicitacao.Descricao_Sugestao_Melhoria</td>
                        <td>
                            @*  <a asp-action="Edit" asp-route-Id="@trabalhoRealizado.Id_Portfolio" >Edita</a> *@
                            <button class="btn btn-danger" asp-controller="Contato" asp-action="ExcluirSolicitacao" asp-route-id="@solicitacao.Id_Solicitacao">Excluir</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </form>

</div>
