@using Expert.Gov.Core.Authorization;
@using Expert.Gov.Core.Models.SolicitacaoSugestao
@model SolicitacoesLista

@{
    if (User.IsAuthenticated())
    {
        Layout = "_LayoutAdministrativo";
    }
}


<div class="container container-ghost mt-5">

    <div class="col-lg-12 d-inline-flex">
        <h4 class="col-lg-10">Solicitações da comunidade</h4>
    </div>
    <hr class=" mb-5" />
    <form>

        <table class="table table-administrativo">
            <thead class="table-dark">
                <tr>
                    <td>Código</td>
                    <td>Nome</td>
                    <td>Celular</td>
                    <td>Email</td>
                    <td>Endereço</td>
                    <td>Nº </td>
                    <td>CEP</td>
                    <td>Descrição</td>
                    <td>Sugestão</td>
                    <td>Ação</td>
                </tr>
            </thead>

            <tbody>
                @foreach (var solicitacao in Model.ListaSolicitacoes)
                {
                    <tr>
                        <td> @solicitacao.Id_Solicitacao</td>
                        <td> @solicitacao.Nome</td>
                        <td> @solicitacao.Celular</td>
                        <td> @solicitacao.Email</td>
                        <td> @solicitacao.Endereco_solicitacao</td>
                        <td> @solicitacao.Numero_solicitacao</td>
                        <td> @solicitacao.Cep_solicitacao</td>
                        <td> @solicitacao.Descricao_Titulo</td>
                        <td> @solicitacao.Descricao_Sugestao_Melhoria</td>
                        <td>
                            <div class="d-flex flex-wrap">
                                <button class="btn btn-dark ms-1 mb-1" asp-controller="Contato" asp-action="VerSolicitacao" asp-route-id="@solicitacao.Id_Solicitacao">Ver solicitação</button>
                                <button class="btn btn-danger ms-1 mb-1" asp-controller="Contato" asp-action="ExcluirSolicitacao" asp-route-id="@solicitacao.Id_Solicitacao">Excluir</button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </form>
</div>



