@using Expert.Gov.Core.Models.SolicitacaoSugestao;
@model Solicitacao


@{
    Layout = "_LayoutAdministrativo";
    ViewData["Title"] = "Trabalho realizado";
}

<div class="mt-5 mb-5 container container-ghost">

    <div class="col-lg-12 d-inline-flex">
        <h4 class="col-lg-10">Detalhes da solicitação</h4>
    </div>
    <hr />


    <div class="mt-5 col-lg-12 d-sm-inline-flex">

        <!--Slides imagens-->
        <div class="col-lg-6">
            <div class="slideshow-container">

                @if (Model.Imagens?.Any() ?? false)
                {
                    @foreach (var img in Model.Imagens)
                    {
                        var imgBase64 = img.Anexo_Base64;

                        <div class="mySlides">
                            <img src="data:image/png;base64,@imgBase64" style="width:100%; border-radius: 50px; height: 500px !important;">
                        </div>
                    }
                }
                else
                {
                    <div class="text-center" style="height: 500px; display: flex;  align-items: center;place-content: center;">
                        <h4 class="">Não há imagens para exibição</h4>
                    </div>
                }
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
        </div>


        <div class="col-lg-6 container-ghost pnl-descricao-trabalho">

            <h4 class="mb-5 mt-2">@Model.Descricao_Titulo</h4>

            @if (!string.IsNullOrEmpty(Model.Descricao_Sugestao_Melhoria))
            {
                <p><b>Solicitação</b></p>
                <p style="word-wrap: break-word;">@Model.Descricao_Sugestao_Melhoria</p>
            }

            <p><b>Endereço</b></p>
            <p> @Model.ObterEnderecoFormatado()</p>


            <div class="mt-5 container-ghost">

                <h4>Dados pessoais</h4>
                <hr />
                <p><b>Nome:</b> @Model.Nome</p>
                <p><b>E-mail:</b> @Model.Email</p>
            </div>

        </div>

    </div>




</div>



@section Scripts{
    <script src="~/js/Portfolios/listaPortfolios.js" asp-append-version="true"></script>


}


